<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <%- include('./login.ejs') %>
    <% } %>
</body>
</html>