<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="app">
        <div class="home">
            <div class="odinbook">
                <h1>OdinBook</h1>
                <p>Join here to connect to your friends and the world</p>
            </div>
            <div class="form">
                <form action="/register" method="post">
                    <input
                        required
                        type="text"
                        placeholder="Mobile Number"
                        name="username"
                        class="input-field"
                    />
                    <input
                        required
                        type="password"
                        name="password"
                        class="input-field"
                        placeholder="Password"
                    />
                    <div class="buttons">
                        <button class="yellow button">
                            Register
                        </button>
                        <span>
                            Do you have an account? <a href="/login">Login</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>